<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAImqc5clmsLc2BlInLvL8Yfk1A_AKhDv0</string>
	<key>GCM_SENDER_ID</key>
	<string>655968536156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innonexus.FreshCart</string>
	<key>PROJECT_ID</key>
	<string>swift-firebase-learning</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-firebase-learning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655968536156:ios:9058c253c105992eae8899</string>
</dict>
</plist>